@if (ViewBag.Page != null)
{
    <h2> @ViewBag.Page.Title</h2>
    <div class="metaData">

    </div>
    <div>
        @ViewBag.Page
    </div>
}
else
{
    <h2> Site is under construction</h2>
    <div class="metaData">
        Please come back later.
        This page is either under maintenance or construction. We are working really hard to be able to deliver the page you requested.

    </div>
   
}


