@if (ViewBag.Page != null)
{
    <h2> @ViewBag.Page.Title</h2>
    <div class="metaData">

    </div>
    <div>
        @Html.Raw(ViewBag.Page.Description)
    </div>
    <div class="metaData">
      <dl>
          <dt>
              Published
          </dt>
          <dd>
              @ViewBag.Page.DatePublished
          </dd>
          <dt>
             Updated
          </dt>
          <dd>
              @ViewBag.Page.DateModified

          </dd>
      </dl>
    </div>
}
else
{
    <h2> Site is under construction</h2>
    <div class="metaData">
        Please come back later.
        This page is either under maintenance or construction. We are working really hard to be able to deliver the page you requested.

    </div>
   
}

<hr/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/t_jYOubJmfM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


