@using System.Text.RegularExpressions

@functions{
    String stripTagsAndShorten(String p)
    {
        p = Regex.Replace(p, "<[^>]*(>|$)", String.Empty);
        var limit = (p.Length > 20) ? 20 : p.Length;
        p = p.Substring(0, limit);
        p = p + "...";
        return p;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Events Site</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>


</head>
<body>
    <header>
        @await Component.InvokeAsync("GetMenuEntries")
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <a asp-controller="Event" asp-action="Index">Events page</a>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Lunar Sports Events App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- <snippet_Scripts> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- </snippet_Scripts> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
    <!--<script src="~/js/site.js" asp-append-version="true"></script>-->
    @RenderSection("Scripts", required: false)
</body>
</html>
